<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Controle de Pedidos</title>

<link href="../bootstrap.min.css" rel="stylesheet">

<link href="../main.css" rel="stylesheet">

</head>

<body>
	<div id="header"></div>
	<div class="container">


		<header class="jumbotron my-4">
			<h2 class="display-3">Seja bem vindo(a)</h2>
			<p class="lead" id="userName">Cadastrar novo Pedido</p>

		</header>
		
	<h3>Exemplo de Requisição para cadastrar pedidos no sistema (Post) </h3>
	<p>Criar um array com os campos a seguir em seguida, enviar o ajax para o servidor processar, o retorno é exibido na sequência</p>
	<p>Sendo necessário informar apenas os campos obrigatórios conforme especificação</p>
	<p>numberControl número de controle</p>
	<p>dateRegister Data de registro (campo String eviado e recebido na consulta)</p>
	<p>name Nome </p>
	<p>qauntity Quantidade</p>
	<p>clientCode Código do cliente</p>
	<p>Observação, ao enviar mais de um pedido alguns podem ser processados e outros não devido aos critérios de aceite, essas validações são tratadas
	na aplicação</p>
	<p>
	array = [{numberControl: 1, dateRegister: '2020-05-30 09:00:00', name: 'Teste', quantity: 2, value: 10, clientCode: 15}, <br> 
{numberControl: 2, dateRegister: '2020-05-30 12:00:00', name: 'Teste', quantity: 1, value: 10, clientCode: 15}]; <br>
	</p>
	<p>
	$.ajax({ <br>
    contentType: 'application/json', <br>
    data: JSON.stringify(array), <br>
    dataType: 'json', <br>
    success: function(data){  <br>
         console.log(JSON.stringify(data));  <br>
    },  <br>
    error: function(){  <br>
        console.log("Erro na requisição");  <br>
    },  <br>
    processData: false,  <br>
    type: 'POST',  <br>
    url: 'https://eicon-test-app.herokuapp.com/save'  <br>
	});  <br>
	</p>

	<h3>Exemplo de requisição para consulta de pedidos cadastrados no sistema</h3>
	<p>clientOrderSearch: String texto de consulta</p>
	<p>numberControl: Booleano indica se deve filtrar pelo campo número de controle</p>
	<p>dateRegister: Booleano indica se deve filtrar pelo campo data de registro</p>
	<p>client: Booleano indica se deve filtrar pelo campo cliente</p>
	<p>all: Booleano indica se deve filtrar por todos os campos</p>
	<p>Para retornar todos os resultados informar todos os registros como false</p>
	<p>
	https://eicon-test-app.herokuapp.com/search?clientOrderSearch=Teste&numberControl=false&dateRegister=false&client=false&all=true
	</p>
	</div>


	<div id="footer"></div>


	<script src="../jquery.min.js"></script>
	<script src="../bootstrap.bundle.min.js"></script>
	<script src="../index.js"></script>

</body>

</html>
